<div class="container content">
    <div class="row">
        <div class="col-sm-12">

            <div class="well">
                <div class="contact" ng-repeat="contact in contacts | orderObjectBy:'firstName'">
                    <a class="line-item" toggle-sibling-visibility=".details">
                        <span class="pull-left">{{contact.name}}</span>
                        <i class="fa fa-plus-circle pull-right"></i>
                    </a>
                    <div class="details">
                        <a href="tel://1-{{contact.mobilePhone | formatPhoneMobileLink}}">
                            <i class="fa fa-mobile"></i> <strong>{{contact.mobilePhone | formatPhone}}</strong>
                        </a>
                        <a href="mailto:{{contact.emailAddress}}">
                            <i class="fa fa-envelope-o"></i> <strong>{{contact.emailAddress}}</strong>
                        </a>
                        <a ng-click="sendCard(contact.id)">
                            <i class="fa fa-list-alt"> </i> <strong>Share ProCard</strong>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>