<div class="container content">
    <div class="row">
        <div class="col-sm-12">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="contact in contacts | orderObjectBy:'firstName'">
                    <span class="badge" toggle-sibling-visibility=".details">View</span>
                    {{contact.name}}
                    <div class="details">
                        <a href="tel://1-{{contact.mobilePhone | formatPhoneMobileLink}}">
                            <i class="fa fa-mobile"></i> <strong>{{contact.mobilePhone | formatPhone}}</strong>
                        </a>
                        <a href="mailto:{{contact.emailAddress}}">
                            <i class="fa fa-envelope-o"></i> <strong>{{contact.emailAddress}}</strong>
                        </a>
                        <a ng-click="sendCard(contact.id)">
                            <i class="fa fa-list-alt"> </i> <strong>Share ProCard</strong>
                        </a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>