<div class="container content">
    <div class="row">
        <div class="col-sm-12">

            <div class="well" ng-controller="MessagesCtrl">
                <div class="msgsRepeater" ng-repeat="msg in sentMessageList | sortObjectByDate:'dateSent' | reverse">
                    <span ng-show="ShowHeader(msg.dateSent)" class="date-line">{{msg.dateSent | date:'EEE MMM d, yyyy'}}</span>
                    <a class="message" toggle-class="#bodyWrap,show-right" ng-click="showMessage(msg)">
                        {{msg.recipient}}
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>