<div class="container content">
    <div class="row">
        <div class="col-sm-12">

            <div id="proCardOmg">
                <div class="topHalf">
                    <div class="affiliation pseudoCol">
                        <a class="logo">
                            <img src="<%= assetPath %>img/placeholders/jh_logo.png" class="img-responsive img-rounded" />
                        </a>
                    </div>
                    <div class="basicInfo pseudoCol">
                        <div class="infoInner">
                            <h4>Grant Bishop<small>PSIA Certified Instructor</small></h4>
                            <a class="mailCard btn btn-sm">
                                <i class="glyphicon glyphicon-paperclip"></i>
                            </a>
                            <div class="badgeRow">
                                <a class="shield">
                                    <img src="<%= assetPath %>/img/placeholders/badge_1.png" class="img-responsive" />
                                </a>
                                <a class="shield">
                                    <img src="<%= assetPath %>/img/placeholders/badge_2.png" class="img-responsive" />
                                </a>
                                <a class="shield">
                                    <img src="<%= assetPath %>/img/placeholders/badge_2.png" class="img-responsive" />
                                </a>
                                <a class="shield">
                                    <img src="<%= assetPath %>/img/placeholders/badge_1.png" class="img-responsive" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottomHalf">
                    <p class="contact">
                        <strong>Jackson Hole Mountain Resort</strong><br />
                        jake@jhmountainresort.com<br />
                        (307) 733-1592
                    </p>
                    <a class="editCard btn btn-sm">Edit</a>
                </div>
            </div>

            <div id="actionButtons">
                <a href="report-card" class="btn btn-lg btn-block btn-default"><i class="glyphicon glyphicon-check"></i> Report Card</a>
                <a href="calendar" class="btn btn-lg btn-block btn-default"><i class="glyphicon glyphicon-calendar"></i> Calendar</a>
                <a href="contacts" class="btn btn-lg btn-block btn-default"><i class="glyphicon glyphicon-th-list"></i> Contacts</a>
                <a class="btn btn-lg btn-block btn-default"><i class="glyphicon glyphicon-share"></i> Message</a>
            </div>

        </div>
    </div>
</div>