<div class="container content"> <!-- see ngCloak directive? -->
    <div class="row">
        <div class="col-sm-12">

            <div id="proCardOmg">
                <div class="topHalf">
                    <div class="affiliation pseudoCol">
                        <a class="logo">
                            <!-- <img src="<%= assetPath %>img/placeholders/jh_logo.png" class="img-responsive img-rounded" /> -->
                            <img ng-src="data:image/png;base64, {{_proCard.schoolImage}}" class="img-responsive img-rounded" />
                        </a>
                    </div>
                    <div class="basicInfo pseudoCol">
                        <div class="infoInner">
                            <h4>{{_proCard.name}}<small>PSIA-AASI Certified Instructor</small></h4>
                            <a class="mailCard btn btn-sm">
                                <i class="glyphicon glyphicon-paperclip"></i>
                            </a>
                            <div class="badgeRow">
                                <!-- designation shields -->
                                <a class="shield" ng-repeat="designation in _proCard.memberProfessionalDesignations | limitTo:3">
                                    <img class="img-responsive {{designation.certificationAwardShortName}}" ng-src="data:image/png;base64, {{designation.shield}}" />
                                </a>

                                <!-- member tenure *always last* -->
                                <a class="shield">
                                    <!-- <img src="<%= assetPath %>/img/placeholders/badge_1.png" class="img-responsive" /> -->
                                    <img ng-src="data:image/png;base64, {{_proCard.memberTenureShield}}" class="img-responsive" />
                                </a>

                                <!-- <a class="shield">
                                    <img src="<%= assetPath %>/img/placeholders/badge_2.png" class="img-responsive" />
                                </a>
                                <a class="shield">
                                    <img src="<%= assetPath %>/img/placeholders/badge_2.png" class="img-responsive" />
                                </a>
                                <a class="shield">
                                    <img src="<%= assetPath %>/img/placeholders/badge_1.png" class="img-responsive" />
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottomHalf">
                    <p class="contact">
                        <strong>{{_proCard.school}}</strong><br />
                        {{_proCard.emailAddress}}<br />
                        {{_proCard.mobilePhone}}
                    </p>

                    <!-- <a class="editCard btn btn-sm" toggle-class="#editProCard,active">Edit</a> -->
                    <a class="editCard btn btn-sm" toggle-class="#bodyWrap,show-right" ng-click="showEditForm()">Edit</a>
                </div>
            </div>

            <div id="actionButtons">
                <!-- @notes: exclude: score card, report card, message -->
                <!--<a href="report-card" class="btn btn-lg btn-block btn-default"><i class="glyphicon glyphicon-check"></i> Report Card</a>-->
                <a href="calendar" class="btn btn-lg btn-block btn-default"><i class="glyphicon glyphicon-calendar"></i> Calendar</a>
                <a href="contacts" class="btn btn-lg btn-block btn-default"><i class="glyphicon glyphicon-th-list"></i> Contacts</a>
                <a class="btn btn-lg btn-block btn-default"><i class="glyphicon glyphicon-share"></i> Message</a>
            </div>

        </div>
    </div>
</div>