<style>
    input.ng-invalid {
        border: 2px solid red;
    }
</style>


<div ng-controller="EditProCardCtrl">
    EDIT PROCARD
    <br><br>
    <div >
        <form name="procardForm">

            SCHOOL: <br>
            <div class="affiliation">
                <img ng-src="data:image/png;base64, {{_editCard.schoolImage}}" class="img-responsive img-rounded" />
            </div>
            <select ng-model="_editCard.schoolId" ng-options="o.schoolId as o.school for o in _schoolOptions"></select> <br>

            CREDENTIALS:<br>
            <div class="badges">
                <!-- designation shields -->
                <div class="shield" ng-repeat="designation in _editCard.memberProfessionalDesignations | limitTo:3">
                    <img class="img-responsive {{designation.certificationAwardShortName}}" ng-src="data:image/png;base64, {{designation.shield}}" />
                </div>
            </div>
            <br>
            <select multiple ng-model="_editCard.certificationCodes" ng-options="d.certificationCode as d.certificationAwardShortName for d in _professionalDesignations"></select> <br>
            <!--We COULD add ngPattern="{string}" to make sure the user enters number in correct format ..... -->
            PHONE: <input type="text" name="_editCard.mobilePhone" ng-model="_editCard.mobilePhone" >   <br>

            <!-- With type = email, angular validates that this is an email address. class ng-invalid gets added (see top of doc) -->
            EMAIL: <input type="email" name="_editCard.emailAddress" ng-model="_editCard.emailAddress" > <br>
        </form>
        <button class="btn" toggle-class="#bodyWrap,show-right">Cancel</button>
        <button ng-click="save(_editCard);hide()" ng-disabled="procardForm.$pristine || procardForm.$invalid" class="btn btn-primary">Save</button>
    </div>
</div>