<!doctype html>
<html lang="en" ng-app="procard">
<head>
    <meta charset="utf-8">
    <title><%- pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="<%= assetPath %>css/vert-services.css" />
</head>

<body ng-app>

    <form id="login" class="form-inline">
        <input type="text" class="input-small" placeholder="Email">
        <input type="password" class="input-small" placeholder="Password">
        <button type="submit" class="btn">Sign in</button>
    </form>

    LIST OF CONTACTS
    <table class="table table-bordered" id="trip-table" style="background-color: #fff">
        <thead>
        <tr>
            <td>First</td>
            <td>Last</td>
            <td>Birthday</td>
            <td>Email</td>
            <!--<td>Total</td>-->
        </tr>
        </thead>
        <tbody ng-controller="ContactListController">
        <tr ng-repeat="contact in contacts">
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>{{contact.birthDate}}</td>
            <td>{{contact.email}}</td>
        </tr>
        </tbody>
    </table>
    <br><br><br>


    PROCARD<br>
    <div ng-controller="ProCardController">

        <!--<img class="school" width="115" height="115" src="data:image/png;base64, {{procard.schoolImage}}" >-->
        <span class='name'>{{procard.name}}</span><span class='nickname'>{{nickNameDisplay(procard.nickName)}}</span> <br>

        <ul class="badges">
            <!--<li><img class="shield tenure" width="115" height="115" src="data:image/png;base64, {{procard.memberTenureShield}}" > </li>-->
            <!--<li ng-repeat="designation in procard.memberProfessionalDesignations | limitTo:3"><img class="shield {{designation.certificationAwardShortName}}" width="115" height="115" src="data:image/png;base64, {{designation.shield}}" > </li>-->
        </ul>

        <span class='phone'>{{procard.mobilePhone}}</span><br>
        <span class='email'>{{procard.emailAddress}}</span>

        <br><br><br>
        EDIT PROCARD
        <br><br>
        <div class="secret-form">
            <form name="procardForm">
                <input type="hidden" name="affiliation" ng-model="procard.schoolId" required>
                <input type="hidden" name="startOdometer" ng-model="procard.mobilePhone" >
                <input type="hidden" name="endOdometer" ng-model="procard.emailAddress" >
            </form>
        </div>

        <div class="edit-off-buttons">
            <button class="btn edit">Edit</button>
            <button class="btn share">Share</button>
        </div>

        <div class="contact-list" style="display: none;">
            <ul>
                <li ng-repeat="contact in contacts">
                    <span class="name">{{contact.name}}</span><br>
                    <button class="email" ng-click="send(procard, $event);">{{contact.email}}</button><br>
                    <button class="phone" ng-click="send(procard, $event);">{{contact.mobilePhone}}</button>
                    <span class="id" data-contactId="{{contact.id}}" style="display: none;"></span>
                </li>
            </ul>
        </div>

        <div class="edit-on-buttons" style="display: none;">
            <button class="btn">Cancel</button>
            <button ng-click="save(procard);" ng-disabled="procard.$invalid" class="btn btn-primary save">Save</button>
            <!--<button ng-click="destroy(procard, $index);hide()"  ng-show="procard.objectId" class="btn btn-danger">Delete</button>-->
        </div>

    </div>
    <br><br>
    CALENDAR<br>
    <div ng-controller="CalendarController">
        <ul>
            <li ng-repeat="event in events">
                <span class="name">{{event.meetingDescription}}</span><br>
                <span class="date">{{event.meetingStartDate}} - {{event.meetingEndDate}}</span><br>
                <span class="location">{{event.meetingLocation}}</span><br>
                <span class="description">{{event.meetingDescription}}</span>
            </li>
        </ul>
    </div>


    <br><br><br><br>
    <!--<div ng-controller="MemberController">-->
        <!--LIST OF MEMBERS (Not needed?)-->
        <!--<ol>-->
            <!--&lt;!&ndash;<li ng-repeat="member in members">{{member.lastName}}</li>&ndash;&gt;-->
        <!--</ol>-->
    <!--</div>-->

    <script async type="text/javascript" src="<%= assetPath %>js/vert-services.js"></script>
</body>
</html>