<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%- pageTitle %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="http://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="<%= assetPath %>css/vert-services.css" />
</head>

<body ng-app="snowPro">

    <div id="cBackground"></div>

    <div id="bodyWrap">

        <!-- LEFT SIDEBAR -->
        <div class="sidebar left" ng-controller="LeftSidebarCtrl">
            <div class="sidebarInner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="text" class="form-control" placeholder="Search" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="link in links">
                                    <a href="{{link.url}}" target="_blank">{{link.text}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MAIN PAGE CONTENT -->
        <div id="bodyContent">
            <div id="topBar">
                <div class="locationTitle">{{pageName}}</div>
                <div class="pull-left">
                    <a toggle-class="#bodyWrap,show-left">
                        <span class="glyphicon glyphicon-th"></span>
                    </a>
                </div>
                <div class="pull-right">
                    <a><span class="glyphicon glyphicon-user"></span></a>
                </div>
            </div>

            <div id="pageTemplateView" class="{{pageName | dasherize}}">
                <ng-view></ng-view>
            </div>
        </div>

        <!-- RIGHT SIDEBAR -->
        <div class="sidebar right">
            <a class="closer" toggle-class="#bodyWrap,show-right">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <div class="sidebarInner">
                <div ng-include src="sidebar.incld">
                    <!-- templates included programatically -->
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="<%= assetPath %>js/vert-services.js"></script>
</body>
</html>